<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.Private.DataContractSerialization" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="WpfAnimatedGif" version="2.0.0" targetFramework="net472" />
</packages>